<ion-content>
  <div class="content">
    <div class="header">
      <h1>Microsoft AI News</h1>
      <div class="date-filter">
        <input
          type="date"
          [value]="selectedDate.toISOString().slice(0, 10)"
          (change)="onDateChange($event)"
        />
      </div>
    </div>
    <hr />
    <div class="articles">
      <a
        *ngFor="let article of filteredArticles"
        [href]="article.link"
        target="_blank"
        [style.--category-color]="getColorForCategory(article.category)"
      >
        <ion-icon [name]="getIconForCategory(article.category)"></ion-icon>
        <p>{{ article.slug }}</p>
      </a>
    </div>
  </div>
</ion-content>
