.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  min-width: 500px;
  padding: 50px;
  padding-top: 25px;

  hr {
    width: 50%;
    margin-left: 0;
    background-color: white;
  }

  h2 {
    font-size: 1.2rem;
  }

  .articles {
    margin-bottom: 1px;
    width: fit-content;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
