<ion-content>
  <div class="content">
    <div class="header">
      <ion-item lines="none"><h1>Microsoft AI News</h1></ion-item>
      <div class="date-filter">
        <ion-item lines="none">
          <ion-datetime-button datetime="startDateTime"></ion-datetime-button>
          <ion-text>-</ion-text>
          <ion-datetime-button datetime="endDateTime"></ion-datetime-button>
        </ion-item>
      </div>
      <div class="category-filter">
        <ion-radio-group
          [(ngModel)]="selectedCategory"
          (ionChange)="onCategoryChange()"
        >
          <ion-item lines="none">
            <ion-radio value="all">All</ion-radio>
          </ion-item>
          <ion-item *ngFor="let category of categories" lines="none">
            <ion-radio [value]="category">{{ category }}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>
    <hr />
    <div class="articles">
      <a
        *ngFor="let article of filteredArticles; let i = index"
        [href]="article.link"
        target="_blank"
        [ngClass]="{'transparent': isArticleTransparent(article)}"
        [style.--category-color]="getColorForCategory(article.category)"
        [id]="'open-popover-' + i"
      >
        <ion-icon [name]="getIconForCategory(article.category)"></ion-icon>
        <p>{{ article.slug }}</p>
        <ion-popover
          [keepContentsMounted]="true"
          [trigger]="'open-popover-' + i"
          trigger-action="hover"
          dismiss-on-leave="true"
        >
          <ng-template>
            <ion-content class="ion-padding">
              {{ article.summary }}
            </ion-content>
          </ng-template>
        </ion-popover>
      </a>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="startDateTime"
      presentation="date"
      [(ngModel)]="startDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="endDateTime"
      presentation="date"
      [(ngModel)]="endDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>
