.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  min-width: 500px;
  padding: 50px;
  padding-top: 25px;

  hr {
    width: 50%;
    margin-left: 0;
    background-color: white;
  }

  h2 {
    font-size: 1.2rem;
  }

  .articles {
    margin-bottom: 1px;
    width: fit-content;

    a {
      text-decoration: none;
      color: var(--category-color);
      display: flex;
      align-items: center;
      margin: 20px;
      margin-left: 0;
      padding: 20px;
      border: 2px solid var(--category-color);
      border-radius: 30px;
      text-align: center;
      width: fit-content;

      ion-icon {
        margin-right: 10px;
      }

      &:hover {
        background-color: #1f1f1f;
      }
    }

    p {
      margin: 0;
    }
  }
}
