.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  min-width: 500px;
  padding: 50px;
  padding-top: 25px;

  hr {
    width: 50%;
    margin-left: 0;
    background-color: white;
  }

  h2 {
    font-size: 1.2rem;
  }

  .articles {
    margin-bottom: 1px;
    width: fit-content;

    a {
      text-decoration: none;
      color: white;
      display: inline-block;
      margin-bottom: 10px;
      padding: 10px;
      border: 2px solid white;
      border-radius: 30px;
      text-align: center;

      &:hover {
        color: red;
        border-color: red;
      }
    }

    p {
      margin: 0;
    }
  }
}
